-e file:.
flake8
importlib-metadata  # Required by sphinx on linux.
importlib_resources  # Required by matplotlib on linux.
matplotlib  # Required by `plot`.
numpy  # Required by `plot`.
psutil  # Required by `call_with_timeout`.
pytest
pytest-cov
pytz  # Required by sphinx on linux.
scipy<1.11
sphinx
sphinxcontrib-shtest
torch
